<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div>
    {% if user.is_authenticated %}
        {% if restaurant %}
            <h2>Ваш ресторан : {{ restaurant.name }}</h2>

        {% else %}
        <a href="{% url 'administration:add_restaurant' %}">
            ДОБАВИТЬ РЕСТОРАН
        </a>
        {% endif %}
    <h2>
        START PAGE
    </h2>
    {% else %}
    <h2>
        ВЫ НЕ АВТОРИЗОВАНЫ
    </h2>
    <a href="{% url 'accounts:login' %}">АВТОРИЗОВАТЬСЯ</a>
    {% endif %}
</div>
</body>
</html>